%label{for: path, "ng-class": "{error: !fieldValid('#{path}')}" }= name

%input.medium.input-text{attributes}

%small.error.medium.input-text{"ng-show" => "!fieldValid('#{path}')"}
  = "{{ fieldErrors('#{path}') }}"
